
<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container">
    <!-- Logotipo que también lleva a home -->
    <a class="navbar-brand" routerLink="/home" style="font-size: 1.8rem; cursor: pointer;">
      <img src="/Logotipo.png" alt="Logo" class="navbar-logo" style="width: 90px; height: 90px; margin-right: 15px;">
      HotelSoft
    </a>

    <div class="navbar-nav">
      <a class="nav-link" routerLink="/home" style="font-size: 1.3rem; margin: 0 15px;">Inicio</a>
      <a class="nav-link" routerLink="/contacto" style="font-size: 1.3rem; margin: 0 15px;">Contacto</a>
      <a class="nav-link" routerLink="/login" style="font-size: 1.3rem; margin: 0 15px;">Iniciar Sesión</a>
    </div>
  </div>
</nav>
