<div class="forgot-container">
  <div class="forgot-card">
    <h2>Recuperar Contraseña</h2>

    <!-- Paso 1 -->
    <ng-container *ngIf="step === 1">
      <p>Por favor, escriba su correo electrónico. Recibirá un enlace de recuperación.</p>
      <input
        type="email"
        placeholder="Correo Electrónico"
        [(ngModel)]="email"
        class="form-input"
      />
      <button (click)="enviarCorreo()" class="btn btn-primary">Siguiente</button>
    </ng-container>

    <!-- Paso 2 -->
    <ng-container *ngIf="step === 2">
      <p>Elija una contraseña nueva</p>
      <input
        type="password"
        placeholder="Contraseña"
        [(ngModel)]="password"
        class="form-input"
      />
      <input
        type="password"
        placeholder="Confirmar Contraseña"
        [(ngModel)]="confirmPassword"
        class="form-input"
      />
      <button (click)="restablecer()" class="btn btn-primary">Restablecer Contraseña</button>
    </ng-container>
  </div>
</div>
